#root {
  width: 100%;
  font-size: 0.98rem;
}

.dateSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.finalValue {
  font-size: 1.25rem;
}
.container {
  width: 100%;
}
.create-button {
  display: flex;
  margin-bottom: 4vh;
  margin-top: 4vh;
}
.patrimoine-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
}

.menu-back {
  background: url("../src/assets/retour.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  margin: 0 0 2vh 0;
}
.calcul-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.datePicker {
  width: 100%;
  justify-content: space-around;
}
.chart-container {
  width: 100%;
  height: 200px;
  position: relative;
}
