#root {
  width: 100%;
  font-size: 16px;
}
.dateSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.finalValue {
  font-size: xx-large;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.content-container {
  padding: 1rem;
}
.container {
  width: 100%;
}
.navbar {
  width: 100%;
}
.brand {
  font-size: 1.65rem;
}
.create-button {
  display: flex;

  margin-bottom: 4vh;
  margin-top: 4vh;
}
.links {
  font-size: 1.25rem;
}
