@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  width: 100%;
  height: 100vh;
  display: block; 
  font-family: "Montserrat", sans-serif;
  color: white;
}
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Dégradé noir semi-transparent */
  url('../assets/homeCalc.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 

}
.home-page {
  flex: 1; 
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 3rem;
  justify-content: space-evenly;
  gap: 2px;
  
}
  .brand{
    font-size: 1.35rem;
    font-style: italic;
    font-weight: 300;
  }
  .links{
    font-size: 1.15rem;

  }
  .navbar-position{
    margin-left: 35vw;
  }
  .home-page p{
    font-size: 0.95rem;
    text-align: left;
    font-weight: 500;
  }
  .home-page h2{
    font-size: 2.7rem;
    font-weight: 600;
  }
  .home-button{
    width: 25%;
    color: white;
  }
  .navbar {
    background-color: transparent !important; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .navbar .nav-link {
    color: white; 
  }
  .custom:hover{
    background-color: rgba(0, 128, 0, 0.6);
  }